.btn {
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FB0F40;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: background .5s linear;
}

.btn:hover {
    background: #f54267;
}
