.header {
    display: flex;
    padding: 0 50px;
    width: 100%;
    align-items: center;
    background-color: black;
    min-height: 60px;
}

.mainPageLink {
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.icon {
    width: 27px;
    height: 27px;
}

.avatarBlock {
    display: flex;
    align-items: center;
}

.button {
    display: block;
    margin: 0 15px 0 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
